body {
  font-family: 'Roboto', sans-serif; /* Google Fonts ile eklenebilir */
  margin: 0;
  padding: 0;
  background-color: #f4f7fa; /* Hafif gri arka plan */
  color: #333; /* Koyu yazı rengi */
}

h2, h3 {
  color: #2c3e50; /* Koyu mavi başlık rengi */
}



.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


.task-card, .note-card, .project-card {
  transition: transform 0.2s, box-shadow 0.2s;
}
